.notFound {
  height: 45vh;
  display: flex;
  left: 50%;
  top: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notFound__img {
  width: 200px;
  height: auto;
}

.notFound__text {
  margin-top: var(--space-2);
  text-align: center;
}
