.landPage__footer{
  background-color: var(--blue);
  width: 100%;
  height: 350px;
  margin-top: var(--space-7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo__container{
  width: 80px;
  text-align: center;
  color: var(--light-blue);
  p{
    margin-top: var(--space-1);
  }
}

.logoImg{
  width: 100%;
}

.navLinks{
  margin-top: var(--space-6);
  text-align: center;
  padding: 0;
  li{
    margin-bottom: var(--space-2);
    a{
      text-decoration: none;
      color: var(--lighter-light-blue);
    }
  }
}
