<div class="profilePublicPage">
  <div class="title__container">
    <h1 class="profilePublicPage__title">Información pública</h1>
    @if (disableForm) {
      <button class="editButton" (click)="toggleForm()">
        Editar
      </button>
    }
  </div>
  <div class="profilePublicPage__info">
    <form [formGroup]="form" (ngSubmit)="editInfo()">
      <div class="form-field">
        <label class="form-label" for="formName"> Nombre </label>
        <input
          class="form-control"
          [class.is-valid]="nameFieldValid"
          [class.is-invalid]="nameFieldInvalid"
          name="name"
          type="text"
          id="formName"
          formControlName="name"
          />
          <div class="validationMessage" [class.active]="nameFieldInvalid">
            @if (nameField.hasError('required')) {
              <p class="invalid-feedback">
                El nombre es requerido
              </p>
            }
            @if (nameField.hasError('pattern')) {
              <p class="invalid-feedback">
                Nombre incorrecto
              </p>
            }
          </div>
        </div>
        <div class="form-field">
          <label class="form-label" for="formEmail"> Email </label>
          <input
            class="form-control"
            [class.is-valid]="emailFieldValid"
            [class.is-invalid]="emailFieldInvalid || emailAlreadyRegistered"
            name="email"
            type="email"
            id="formEmail"
            formControlName="email"
            />
            <div
              class="validationMessage"
              [class.active]="emailFieldInvalid || emailAlreadyRegistered"
              >
              @if (emailAlreadyRegistered) {
                <p class="invalid-feedback">
                  El email ya esta registrado
                </p>
              }
              @if (emailField.hasError('required')) {
                <p class="invalid-feedback">
                  El email es requerido
                </p>
              }
              @if (emailField.hasError('email')) {
                <p class="invalid-feedback">
                  No es un email valido
                </p>
              }
            </div>
          </div>
          <div class="form-field formContact">
            @for (contact of cellNumberField.controls; track contact; let i = $index) {
              <div
                formArrayName="cellNumber"
                >
                <div class="formArrayElement">
                  @if (i == 0) {
                    <label class="form-label" for="contact"
                      >Número de contacto:
                    </label>
                  }
                  <div>
                    <input
                      type="tel"
                      class="form-control contactInput"
                      [formControlName]="i"
                      placeholder="Número de contacto"
                      [name]="i"
                      [id]="i == 0 ? 'contact' : null"
                      [class.is-valid]="contact.touched && contact.valid"
                      [class.is-invalid]="contact.touched && contact.invalid"
                      />
                      @if (i == 0 && !disableForm) {
                        <button
                          class="addContactField"
                          type="button"
                          (click)="addContactField()"
                          >
                          +
                        </button>
                      }
                    </div>
                    <div
                      class="validationMessage"
              [class.active]="
                contact.touched && contact.invalid
              "
                      >
                      @if (contact.hasError('required')) {
                        <p
                          class="invalid-feedback"
                          >
                          Ingrese un número de contacto
                        </p>
                      }
                      @if (contact.hasError('pattern')) {
                        <p
                          class="invalid-feedback"
                          >
                          Ingrese solamente números
                        </p>
                      }
                      @if (contact.hasError('minlength')) {
                        <p
                          class="invalid-feedback"
                          >
                          El número de teléfono es incorrecto
                        </p>
                      }
                      @if (contact.hasError('maxlength')) {
                        <p
                          class="invalid-feedback"
                          >
                          El número de télefono es incorrecto
                        </p>
                      }
                    </div>
                  </div>
                </div>
              }
              @if (maxFourCellNumbers) {
                <p class="invalid-feedback">
                  Máximo cuatro números de contacto
                </p>
              }
            </div>
            <div class="form-buttons">
              @if (!disableForm) {
                <button class="editButton" type="submit">
                  Editar
                </button>
              }
              @if (!disableForm) {
                <button class="cancelButton" (click)="toggleForm()" type="button">Cancelar</button>
              }
            </div>
          </form>
        </div>
      </div>
