.title__container{
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-2);
  height: 34px;
}

.editButton{
  padding: var(--space-2) var(--space-3);
  border-radius: var(--radius-sm);
  background-color: var(--yellow);
  font-weight: 600;
}

.profilePublicPage__title{
  font-weight: 600;
  font-size: var(--text-xl);
  align-self: center;
}

.form-field {
  padding: var(--space-2) 0px;
}

.formArrayElement{
  margin-bottom: var(--space-2);
}

.contactInput{
  display: inline-block;
  width: 100%;
  margin-right: var(--space-2);
}

.addContactField{
  display: inline-block;
  margin-top: var(--space-2);
  padding: var(--space-2) var(--space-2);
  background-color: var(--yellow);
  font-weight: 600;
  border-radius: var(--radius-sm);
}

.form-buttons{
  display: flex;
}

.cancelButton{
  padding: var(--space-2) var(--space-3);
  border-radius: var(--radius-sm);
  background-color: var(--red);
  margin-left: var(--space-1);
  font-weight: 600;
}

.profilePublicPage__info{
  p{
    margin-bottom: var(--space-3);
    line-height: 1.15;
  }
}

.validationMessage {
  display: none;
  p{
    margin-bottom: 0px;
  }
  &.active {
    display: block;
  }
}

.is-valid {
  background-image: none;
}

.is-invalid {
  background-image: none;
}

.invalid-feedback {
  display: block;
}

@media screen and (min-width: 48rem){
  .form-field{
    max-width: 450px;
  }
  .form-control{
    max-width: 450px;
  }
  .title__container{
    justify-content: flex-start;
  }

  .editButton{
    margin-left: var(--space-8);
  }

}

@media screen and (min-width: 64rem){

  .editButton{
    margin-right: var(--space-8);
  }

  .form-control{
    width: 440px;
  }
}
