.register-container {
  margin: var(--space-8) auto;
  width: 300px;
}

.nav__logo {
  display: flex;
  margin: var(--space-3) auto;
  align-items: center;
  height: 100%;
  width: min-content;
  font-size: var(--text-sm);
  a {
    font-weight: bold;
    text-decoration: none;
    color: var(--blue);
    img {
      margin-right: var(--space-1);
      width: 50px;
      height: 50px;
    }
  }
}

.register-texto {
  margin: 0 auto;
  font-size: var(--text-2xl);
  margin-bottom: var(--space-4);
  text-align: center;
}

.auth-subtitle {
  display: block;
  margin-top: var(--space-2);
  font-size: var(--text-sm);
  line-height: 1.3;
  color: var(--grey);
}

.form-box {
  padding: var(--space-4);
  padding-top: var(--space-5);
  border: 1px solid var(--darker-light-blue);
  border-radius: 6px;
  box-shadow: var(--shadow-sm);
}

.form-flex {
  display: flex;
  flex-direction: column;
}

.form-items {
  margin-bottom: var(--space-4);
}

.form-button {
  width: 100%;
  background-color: var(--yellow);
  padding: var(--space-2) var(--space-4);
  font-weight: 700;
  margin-bottom: var(--space-3);
}

.login {
  text-align: center;
  margin-top: var(--space-4);
  padding: var(--space-4);
  border: 1px solid var(--grey);
  border-radius: 6px;
  a {
    text-decoration: none;
  }
}

.validationMessage {
  display: none;
  &.active {
    display: block;
  }
}

.is-valid {
  background-image: none;
}

.is-invalid {
  background-image: none;
}

.invalid-feedback {
  display: block;
}


.icon-eye{
  position: absolute;
  fill: var(--grey);
  right: 15px;
  cursor: pointer;
  top: 35px;
  svg{
    display: none;
    &.active{
      display: block;
    }
  }
}




.show-mobile {
  display: block;
}

.hide-mobile {
  display: none;
}

/* Large mobile */
@media screen and (min-width: 30rem) {
  .show-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
}

/* Tablet - Laptop */
@media screen and (min-width: 48rem) {
}

/* (Laptop - Desktop) Large and up */
@media screen and (min-width: 64rem) {
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: block;
  }
}
