@if (percentage != null && !isImgLoaded) {
  <div class="progress-container">
    <h3 class="uploading-title">Subiendo imagen</h3>
    <progress class="progress-bar" [value]="percentage"></progress>
  </div>
}
@if (errorMessage) {
  <div class="upload-error">
    <p>{{ errorMessage }}</p>
  </div>
}
@if (downloadUrl; as url) {
  <div class="img-container" [id]="downloadUrl ? downloadUrl : null" >
    <a [href]="url" target="_blank" rel="noopener">
      <img class="img" [src]="url" alt="Imagen de la mascota" (load)="onLoaded()"/>
    </a>
    <button class="delete__button" type="button" (click)="deleteImg()">
      @if (!isLoading) {
        <span>
          Eliminar
        </span>
      } @else {
        <app-spinner></app-spinner>
      }
    </button>
  </div>
}
