.dropzone {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: var(--space-2);
  height: 200px;
  padding: var(--space-4);
  border-radius: var(--radius-sm);
  border: 2px dashed var(--grey);
  background-color: var(--lighter-light-blue);
}

.hovering {
  border: 2px solid var(--grey);
}

.file-input {
  display: none;
}

.text {
  text-align: center;
  margin-bottom: var(--space-2);
  line-height: 1.15;
}

.title {
  font-weight: 600;
}

.file-label {
  padding: var(--space-2) var(--space-4);
  border-radius: var(--radius-sm);
  color: var(--white);
  background-color: var(--grey);
  cursor: pointer;
}

.uploaded-files {
  width: 100%;
  margin-top: var(--space-2);
}

.imgUploaded {
  margin-bottom: var(--space-2);
}

@media screen and (min-width: 48rem) {
  .uploaded-files {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .imgUploaded {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
