.main {
  margin-top: var(--space-4);
  margin-bottom: var(--space-4);
  padding: 0 var(--space-3);
}

.title {
  font-size: var(--text-lg);
  font-weight: 700;
  margin-bottom: var(--space-2);
}

.titleSection{
  display: flex;
  align-items: center;
}

.backButton{
  padding: var(--space-2) var(--space-2);
  font-weight: 600;
  background-color: var(--yellow);
  border-radius: 6px;
  margin-right: var(--space-2);
}

.formBox {
  margin-top: var(--space-3);
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-element-section {
  padding: var(--space-2) var(--space-2);
  margin-bottom: var(--space-4);
}

.flex {
  display: flex;
  flex-direction: column;
}

.containerImgs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.form-elements {
  padding: var(--space-2) 0px;
  margin-top: var(--space-4);
}

.textDescription {
  height: 200px;
}

.inputFileElement {
  margin-top: var(--space-4);
}

.message {
  width: 100%;
  margin-top: 0.25rem;
  font-size: var(--text-sm);
  &.invalid {
    color: var(--red);
  }
}

.uploadedImgs {
  display: none;
  margin-top: var(--space-4);
  img {
    width: 100%;
  }
}

.imgContainer {
  width: 100%;
  margin: 0 auto;
  max-width: 300px;
  position: relative;
  display: none;
  margin-bottom: var(--space-1);
}

.deleteIcon {
  display: none;
  position: absolute;
  fill: blueviolet;
  cursor: pointer;
  width: 40px;
  right: 10px;
  top: 10px;
}

.progressBar {
  display: none;
  width: 100%;
  border: var(--grey) 1px solid;
  margin-top: var(--space-4);
  border-radius: 8px;
  background-color: var(--blue);
}

.bar {
  width: 1%;
  border-radius: 8px;
  height: 10px;
  background-color: var(--yellow);
}

.submit-btn {
  padding: var(--space-2) var(--space-4);
  font-weight: 700;
  background-color: var(--yellow);
  font-size: var(--text-base);
  line-height: 1.15;
  margin-top: var(--space-1);
  margin-bottom: var(--space-4);
}

.contactInput{
  display: inline-block;
  width: 100%;
  margin-right: var(--space-2);
}

.addContactField{
  display: inline-block;
  padding: var(--space-2) var(--space-2);
  background-color: var(--yellow);
  font-weight: 600;
  border-radius: 5px;
}

.formArrayElement{
  margin-bottom: var(--space-2);
}

.files-uploader{
  margin-top: var(--space-4);
  padding: var(--space-2);
}

.full-width {
  width: 100%;
}

.validationMessage {
  display: none;
  &.active {
    display: block;
  }
}

.is-valid {
  background-image: none !important;
  padding-right: 0px !important;
}

.is-invalid {
  background-image: none !important;
  padding-right: 0px !important;
}

.invalid-feedback {
  display: block;
}

@media screen and (min-width: 30rem) {
  .main {
    margin: var(--space-4) auto;
    padding: 0px var(--space-4);
  }
  .flex {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form-elements {
    width: 50%;
    padding: var(--space-2);

    &.inputFileElement {
      width: auto;
    }

    &.textarea {
      width: auto;
    }
  }

  .textDescription {
    height: 150px;
  }

  .formContact{
    width: 56.7%;
  }
}

@media screen and (min-width: 48rem) {
  .main {
    margin: var(--space-7) auto;
    max-width: 750px;
    padding: 0px var(--space-5);
  }
}

@media screen and (min-width: 64rem) {
  .main {
    margin: var(--space-8) auto;
  }
}

