.profilePage {
  padding: var(--space-3);
  line-height: 1.15;
}

.profile__title{
  font-weight: 600;
  font-size: var(--text-2xl);
  margin-bottom: var(--space-1);
}

.profile__info{
  margin-bottom: var(--space-4);
  p{
    margin-bottom: var(--space-1);
  }
}

.highlight{
  font-weight: 600;
}

@media screen and (min-width: 64rem) {
  .profilePage {
    max-width: 1280px;
    margin: 0 auto;
  }
}
